# Little Lemon Database Interaction

This notebook connects to the **Little Lemon** MySQL database, retrieves table information, and executes SQL queries to fetch customer details and order data.

---

## 1. Install MySQL Connector

```python
!pip install mysql-connector-python

In [10]:
# Install MySQL connector to enable Python-MySQL interaction
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\thekku\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\thekku\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)

## 2. Importing MySQL Connector and Connecting to the Database

Here, the `mysql.connector` library is imported, and a connection to the **Little Lemon** database (`littlelemon_db`) is established using the provided user credentials. The `cursor` is used to execute SQL queries on the database.

In [11]:
# Importing mysql.connector library for connecting and querying the database
import mysql.connector as connector

In [17]:
# Establishing a connection to the littlelemon_db database using credentials
connection = connector.connect(user = "*****", password = "**********", db="littlelemon_db")
# Creating a cursor object to execute queries
cursor = connection.cursor()

## 3. Show Tables in the Database

This cell executes the SQL query `SHOW tables`, which lists all the tables present in the **littlelemon_db** database. It then loops through the result to print each table name.

In [25]:
# Query to show all the tables in the littlelemon_db database
show_tables_query = "SHOW tables" 
# Executing the query to fetch the tables
cursor.execute(show_tables_query)
for table in cursor:
    print(table)

('bookings',)
('customer',)
('menu',)
('menuitems',)
('order delivery status',)
('orders',)
('ordersview',)
('staff',)

## 4. Query Customer Details with Orders Greater than $60

This section executes a SQL query that retrieves customer details (`First Name`, `Last Name`, `ContactNumber`, `Address`, `Email`) from the `customer` table, along with their order total (rounded down using `floor`) from the `orders` table for all orders where the `TotalCost` exceeds 60. The query results are printed, and the column names are displayed first.

In [47]:
# SQL query to fetch customer details and total order cost from customers who placed orders above $60
Customer_deets='SELECT c.`First Name` ,c.`Last Name`,c.ContactNumber,c.Address,c.Email, floor(o.TotalCost ) FROM customer c inner join orders o on c.CustomerID = o.CustomerID where TotalCost>60'
# Executing the customer query
cursor.execute(Customer_deets)
# Retrieving and printing the column names of the query result
cols = cursor.column_names
print(cols)
# Printing the customer details along with their order information
for table in cursor:
    print(table)

('First Name', 'Last Name', 'ContactNumber', 'Address', 'Email', 'floor(o.TotalCost )')
('Olivia', 'Smith', 2344321234, '12 Dundas St', 'oliviasmith@gmail.com', 301)
('Emma', 'Johnson', 4566543456, '56 Lee Centre Dr', 'emmajohnson@gmail.com', 141)
('Charlotte', 'Williams', 7899876789, '57 Bay St', 'charlottewilliams@gmail.com', 201)
('Amelia', 'Brown', 4322341243, '67 Adelaide Dr', 'ameliabrown@gmail.com', 170)

This notebook allows you to explore and interact with the **Little Lemon** database directly from Python.